<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/parts.css">


    <title>.....</title>
</head>

<body>


    <!-- header -->
    <%- include('nav'); -%>





        <section>
            <h1 class="center" style="margin: 2em 0;">

            </h1>
            <div class="container">
                <div class="cards flex around">
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <form action="" method="post">
                                <button class="btn">BUY</button>
                            </form>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <form action="" method="post">
                                <button class="btn">BUY</button>
                            </form>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <form action="" method="post">
                                <button class="btn">BUY</button>
                            </form>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <form action="" method="post">
                                <button class="btn">BUY</button>
                            </form>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script src="/js/parts.js "></script>

        <%- include('footer'); -%>
</body>

</html>