<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/parts.css">

    <title>buyyyyyy</title>
</head>

<body>
    <!-- header -->
    <%- include('nav'); -%>

        <section>
            <h1 class="center" style="margin: 2em 0;">PARTS</h1>
            <div class="container">
                <div class="cards flex around">
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <button class="btn">BUY NOW</button>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <button class="btn">BUY NOW</button>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">
                            <button class="btn">BUY NOW</button>
                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="" alt="">
                        <div class="overlay flex column">

                            <button class="btn">BUY NOW</button>

                            <button class="btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script src="/js/parts.js"></script>

        <!-- <%- include('footer'); -%> -->

        
        <div class="div">Others</div>
    </div>
    <div class="Company">
        <div class="heading">Company</div>
        <div class="div">Complaint</div>
        <div class="div">Support</div>
    </div>
    <div class="Get Help">
        <div class="heading">Get Help</div>
        <div class="div">Help Center</div>
        <div class="div">Privacy Policy</div>
        <div class="div">Terms</div>
        <div class="div">Login</div>
    </div>
</div>
<div class="footer3">
    Copyright ©
    <h4>NUTS & BOLTS</h4>
    
</div>
</footer>
</body>

</html>