<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/utils.css">



<header>
    <div class="logo"><a href="#">NUTS & BOLTZZ</a></div>
    <div class="menu flex">
        <a href=""><ion-icon name="close" class="close"></ion-icon></a>
        <ul class="flex gap-2">
            <li><a href="#" class="under">HOME</a></li>
            <li><a href="index.ejs" class="under">SHOP</a></li>
            <li><a href="#" class="under">OUR PRODUCTS</a></li>
            <li><a href="#" class="under">CONTACT US</a></li>
            <li><a href="/views/about.ejs" class="under">ABOUT US</a></li>
        </ul>
    </div>
    <div class="search flex">
        <input type="text" placeholder="search products" id="input" name="input">
        <a href="">
            <ion-icon class="s" name="search"></ion-icon>
        </a>
    </div>



    <div class="heading1"><ion-icon name="menu" class="ham"></ion-icon></div>
</header>