<!-- <link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/utils.css">



<header class="flex between" style="padding: 1em 1em;">
    <div class="logo"><a href="#">NUTS & BOLTZZ</a></div>
   
    <div>
        <form action="/login" method="get">
            <button type="submit" style="background: none;">Login/Signup</button>
        </form>
    </div>


   
</header> -->








<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/utils.css">


<div class="spar">
    <h1>AUTOMOBILE SPARE PARTS</h1>
</div>
<header style="justify-content: space-between;width: 100%;padding: 0 10em;">
    <div class="logo"><a href="#"><h2>NUTS & BOLTZZ</h2></a></div>
   


    <form action="/login" method="get">
        <button class="button" type="submit" >Login/Signup</button>
    </form>
</header>

<style>

    .spar{
        width: 100%;
        text-align: center;
        background-color: #657e8d;
        color: white;
        /* height: 4em; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }
    .spar h1{
        margin: 0;
        
    }
    
    
    .search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
    }

    .input-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 40px;
        color: #fff;
    }

    .input-search::placeholder {
        color: rgba(255, 255, 255, .5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .btn-search {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
    }

    .btn-search:focus~.input-search {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }




    /* Assuming pre-calculated colors based on your SCSS values */
    :root {
        --colour: hsla(350, 100%, 25%, 1);
        --grey: #262626;
        /* equivalent to desaturate($colour, 90%) */
        --light-grey: #595959;
        /* equivalent to lighten($grey, 30%) */
        --lightened-grey-18: #474747;
        /* rough equivalent to lighten($grey, 18%) */
        --lightened-grey-25: #404040;
        /* rough equivalent to lighten($grey, 25%) */
        --lightened-grey-35: #333333;
        /* rough equivalent to lighten($grey, 35%) */
    }

 
    .button {
        transform: scale(.8);
    outline: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: hsla(350, 0%, 100%, 1);
    text-shadow: -1px -1px 1px hsla(350, 0%, 0%, 0.7), 1px 1px 1px hsla(350, 0%, 100%, 0.3);
    /* display: block; */
    margin: 0;
    padding: 10px 27px;
    cursor: pointer;
    background-color: hsla(350, 80%, 10%, 1);
    background-image: linear-gradient(273deg, hsla(350, 80%, 60%, 1) 30%, hsla(350, 80%, 50%, 1) 40%);
    border: none;
    border-radius: 16px;
    box-shadow: inset 0px 0px 1px 1px hsla(350, 80%, 30%, 0.9), inset 0px 0px 2px 3px hsla(350, 80%, 50%, 0.9), inset 1px 1px 1px 4px hsla(350, 80%, 100%, 0.8), inset 0px 0px 2px 7px hsla(350, 80%, 60%, 0.8), inset 0px 0px 4px 10px hsla(350, 80%, 50%, 0.9), 8px 10px 2px 6px hsla(350, 80%, 20%, 0.55), 0px 0px 3px 2px hsla(350, 80%, 40%, 0.9), 0px 0px 2px 6px hsla(350, 80%, 50%, 0.9), -1px -1px 1px 6px hsla(350, 80%, 100%, 0.9), 0px 0px 2px 11px hsla(350, 80%, 50%, 0.9), 0px 0px 1px 12px hsla(350, 80%, 40%, 0.9), 1px 3px 14px 14px hsla(350, 80%, 0%, 0.4);
}

    .button:active {
        color: hsla(350, 0%, 85%, 1);
        padding: 11px 28px;
        background-image:
            linear-gradient(273deg, hsla(350, 80%, 50%, 1) 50%, hsla(350, 80%, 55%, 1) 60%);
        box-shadow:
            /* Adjusted shadows for active state */
            inset 3px 4px 3px 2px hsla(350, 80%, 20%, 0.55),
            inset 0px 0px 1px 1px hsla(350, 80%, 30%, 0.9),
            inset -1px -1px 2px 3px hsla(350, 80%, 50%, 0.9),
            inset -2px -2px 1px 3px hsla(350, 80%, 100%, 0.8),
            inset 0px 0px 2px 7px hsla(350, 80%, 60%, 0.8),
            inset 0px 0px 3px 10px hsla(350, 80%, 50%, 0.9),
            0px 0px 3px 2px hsla(350, 80%, 40%, 0.9),
            0px 0px 2px 6px hsla(350, 80%, 50%, 0.9),
            -1px -1px 1px 6px hsla(350, 80%, 100%, 0.9),
            0px 0px 2px 11px hsla(350, 80%, 50%, 0.9),
            0px 0px 1px 12px hsla(350, 80%, 40%, 0.9),
            1px 3px 14px 14px hsla(350, 80%, 0%, 0.4);
    }
</style>

<script>
    var walkieTalkieButton = document.querySelector('.walkie-talkie');

    walkieTalkieButton.addEventListener('mousedown', buttonDown, false);
    walkieTalkieButton.addEventListener('mouseup', buttonUp, false);

    function buttonDown() {
        walkieTalkieButton.classList.add('down-state');
    }

    function buttonUp() {
        walkieTalkieButton.classList.remove('down-state');
    }
</script>