<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/utils.css">



<header class="flex between" style="padding: 1em 1em;">
    <div class="logo"><a href="#">NUTS & BOLTZZ</a></div>
   
    <div>
        <form action="/login" method="post">
            <button type="submit" style="background: none;">Login/Signup</button>
        </form>
    </div>


   
</header>