<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>parts</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/utils.css">
    




</head>
<body>
    <header>
        <div class="logo"><a href="#">NUTS & BOLTZZ</a></div>
        <div class="menu flex">
            <a href=""><ion-icon name="close" class="close"></ion-icon></a>
            <ul class="flex gap-2">
                
                <li><a href="" class="under">HOME</a></li>
               
                <li><a href="#" class="under">SHOP</a></li>
                <li><a href="#" class="under">OUR PRODUCTS</a></li>
                <li><a href="#" class="under">CONTACT US</a></li>
                <li><a href="#" class="under">ABOUT US</a></li>
            </ul>
        </div>
        <div class="search flex">
            <input type="text" placeholder="search products" id="input" name="input">
            <a href="">
                <ion-icon class="s" name="search"></ion-icon>
            </a>
        </div>

        <div class="heading1"><ion-icon name="menu" class="ham"></ion-icon></div>
    </header>

    <div>
       spare parts <select name="spare parts" id="sp">
            <option value="">tvsss</option>
            <option value="">sss</option>
        </select>
    </div>

    <div>
        accessories <select name="accessories" id="sp">
             <option value="">tvsss</option>
             <option value="">sss</option>
         </select>
     </div>

    <!-- <div class="section2">
        <div class="container">
            <div class="items">
                <div class="img img1">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/12_300x.jpg?v=1622816118"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$5</div>
                <div class="info"> Lorem ipsum dolor sit amet consectetur.</div>
                
            </div>
            <div class="items">
                <div class="img img2">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/10_300x.jpg?v=1622816118"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$6.34</div>
                <div class="info">Lorem ipsum dolor sit.</div>
            </div>
            <div class="items">
                <div class="img img3">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/4_31140204-a20c-43b5-a14a-500ead3859a2_300x.jpg?v=1622816118"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$9</div>
                <div class="info">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="items">
                <div class="img img1">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/2_840bc835-2c86-48ee-9eb3-d161b28921a5_300x.jpg?v=1622816136"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$9.1</div>
                <div class="info">Lorem ipsum dolor sit.</div>
            </div>
            <div class="items">
                <div class="img img1">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/6_6532dedf-9ddc-4367-a817-7991b1f0e745_300x.jpg?v=1622816118"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$20</div>
                <div class="info">Lorem ipsum dolor sit.</div>
            </div>
            <div class="items">
                <div class="img img1">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/8_300x.jpg?v=1622816118"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$18</div>
                <div class="info">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="items">
                <div class="img img1">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/5_ef93601e-e848-4fce-b9b9-9480b8d5597e_300x.jpg?v=1622816118"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$6.7</div> 
                 <div class="info">Lorem ipsum dolor sit.</div>
            </div>
            <div class="items">
                <div class="img img1">
                    <img
                        src="https://eauto.co.in/cdn/shop/files/3_300x.jpg?v=1622816136"
                        alt=""
                    />
                </div>
                <div class="name"></div>
                <div class="price">$10</div> .
                 <div class="info"> Lorem ipsum dolor sit amet consecteturadipisicing elit.</div>
            
            </div>
        </div>
    </div>
    </div>
</div>
</section>
    -->

</body>
</html>