<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/parts.css">


    <title>parts</title>
</head>

<body>


    <!-- header -->
    <%- include('nav'); -%>





        <section>
            <h1 class="center" style="margin: 2em 0;">BRANDS</h1>
            <div class="container">
                <div class="cards flex around">
                    <div class="imgs">
                        <form action="/buy" method="get">
                            <button type="submit">
                        <img src="https://eauto.co.in/cdn/shop/collections/4_cad9e4e7-7f45-407f-a84a-60a6338bac07_280x.jpg?v=1616925351" alt="">
                    </button>
                    </form>
                    </div>
                    <div class="imgs">
                        <form action="/buy" method="get">
                            <button type="submit">
                        <img src="https://eauto.co.in/cdn/shop/collections/dominar-400_280x.jpg?v=1616925194" alt="">
                    </button>
                    </form>
                    </div>
                    <div class="imgs">
                        <form action="/buy" method="get">
                            <button type="submit">
                        <img src="https://eauto.co.in/cdn/shop/collections/2_280x.jpg?v=1616925128" alt="">
                    </button>
                    </form>     
                    </div>
                    <div class="imgs">
                        <form action="/buy" method="get">
                            <button type="submit">
                        <img src="https://eauto.co.in/cdn/shop/collections/3_6558d714-ecce-4666-9884-7203c51c079b_280x.jpg?v=1616925099" alt="">
                        </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <footer class="flex">
            <div class="footer0">
                <h1>NUTS & BOLTZZ</h1>
            </div>
            <div class="footer1">
                Connect with us at
                <div class="social-media">
                    <a href="#">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </div>
            </div>
            <div class="footer2">
                <div class="product">
                    <div class="heading">Products</div>
                </div>
                <div class="services">
                    <div class="heading">Services</div>
                    <div class="div">Return</div>
                    <div class="div">Cash Back</div>
                    <div class="div">Others</div>
                </div>
                <div class="Company">
                    <div class="heading">Company</div>
                    <div class="div">Complaint</div>
                    <div class="div">Support</div>
                </div>
                <div class="Get Help">
                    <div class="heading">Get Help</div>
                    <div class="div">Help Center</div>
                    <div class="div">Privacy Policy</div>
                    <div class="div">Terms</div>
                    <div class="div">Login</div>
                </div>
            </div>
            <div class="footer3">
                Copyright ©
                <h4>NUTS & BOLTS</h4>
                2021-2028
            </div>
        </footer>
        <script src="/js/parts.js"></script>

        
</body>

</html>