<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/parts.css">


    <title>parts</title>
</head>

<body>


    <!-- header -->
    <%- include('nav'); -%>
    




        <section>
            <h1 class="center" style="margin: 2em 0;">Brands</h1>
            <div class="container">
                <div class="cards flex around">
                    <div class="imgs">
                        <img src="https://eauto.co.in/cdn/shop/collections/4_cad9e4e7-7f45-407f-a84a-60a6338bac07_280x.jpg?v=1616925351" alt="">
                        <div class="overlay flex column">
                            <button class="btn">Parts</button>
                            <button class="btn">Accessories</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="https://eauto.co.in/cdn/shop/collections/dominar-400_280x.jpg?v=1616925194" alt="">
                        <div class="overlay flex column">
                            <button class="btn">Parts</button>
                            <button class="btn">Accessories</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="https://eauto.co.in/cdn/shop/collections/Untitled_design_6_280x.jpg?v=1616925134" alt="">
                        <div class="overlay flex column">
                            <button class="btn">Parts</button>
                            <button class="btn">Accessories</button>
                        </div>
                    </div>
                    <div class="imgs">
                        <img src="https://eauto.co.in/cdn/shop/collections/3_6558d714-ecce-4666-9884-7203c51c079b_280x.jpg?v=1616925099" alt="">
                        <div class="overlay flex column">
                            <button class="btn">Parts</button>
                            <button class="btn">Accessories</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script src="/js/parts.js"></script>
        
        <%- include('footer'); -%>
</body>

</html>