<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/parts.css">

    <title>buyyyyyy</title>
</head>

<body>
    <!-- header -->
    <%- include('nav'); -%>



    <script src="/js/parts.js"></script>

    <%- include('footer'); -%>
</body>

</html>